/* Default CSS Code */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-white: #ffffff;
  --custom-white-100: #f7f7f7;
  --custom-black-400: #002d27;
  --custom-green: #004c41;
  --custom-green-100: #004c42;
  --custom-green-200: #7dc54a;
  --custom-green-300: #84c448;
  --custom-green-400: #587d34;
  --custom-gray: #d9d9d9;
  --custom-gray-200: #f0f0f0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
button {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 1.3;
  color: var(--custom-green);
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

label {
  display: block;
  cursor: pointer;
}

input {
  width: 100%;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  vertical-align: middle;
}

.overflow {
  overflow: hidden;
}

.font--16 {
  font-size: 16px;
}

.font--20 {
  font-size: 20px;
}

.font--24 {
  font-size: 24px;
}

.font--32 {
  font-size: 32px;
}

.font--36 {
  font-size: 36px;
}

.font--40 {
  font-size: 40px;
  line-height: 1.1;
}

.font--60 {
  font-size: 60px;
  line-height: 1.1;
}

.font--80 {
  font-size: 80px;
  line-height: 1.1;
}

/* Default CSS Code */

/* 

font-family: "FS Albert";

*/

body {
  font-family: "FS Albert";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  background: var(--custom-white);
  color: var(--custom-green);
}

main {
  margin-top: 108px;
  min-height: calc(80vh - 108px);
}

/* Reusable CSS Code */

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.object-contain {
  object-fit: contain;
  height: auto;
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  background: var(--custom-green);
  color: var(--custom-white);
  padding: 18px 22px;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.custom-btn img {
  width: 12px;
  height: auto;
  object-fit: contain;
}

.custom-btn:hover {
  opacity: 0.85;
}

.custom-btn--outline {
  line-height: 1;
  background: transparent;
  border: 3px solid var(--custom-gray);
  padding: 10px 17px;
  gap: 30px;
  text-transform: uppercase;
}

.custom-btn--white {
  background: var(--custom-white);
  color: var(--custom-green);
}

.custom-btn--light {
  background: var(--custom-green-400);
  border: 1px solid var(--custom-green);
}

.custom-btn--md {
  padding: 16px 20px;
}

.custom-btn--center {
  margin-left: auto;
  margin-right: auto;
}

.content-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.custom-shadow {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.9);
}

.overflow-hidden {
  overflow: hidden;
}

.form-label {
  color: var(--custom-green-400);
}

.input-style {
  font-family: "FS Albert";
  font-size: 36px;
  line-height: 1;
  color: var(--custom-green);
  display: flex;
  align-items: center;
  padding: 15px 18px;
  width: 100%;
  height: 70px;
  border: 3px solid var(--custom-green);
  outline: 0;
  box-shadow: 6px 8px 0px 0px var(--custom-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-input-placeholder {
  color: rgba(0, 76, 65, 0.5);
}

::-moz-placeholder {
  color: rgba(0, 76, 65, 0.5);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(0, 76, 65, 0.5);
}

:-moz-placeholder {
  color: rgba(0, 76, 65, 0.5);
}

.form-select {
  position: relative;
}

.input-style--select {
  padding: 0 18px;
  line-height: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-style--light {
  border-color: var(--custom-green-300);
}

.form-select__arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  width: fit-content;
  height: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.common-intro {
  padding: 80px 0;
}

.common-intro__layout {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 95px;
}

.common-intro__layout--reverse {
  flex-direction: row-reverse;
}

.common-intro__layout--no-flex {
  display: block;
}

.common-intro__content {
  flex: 1;
}

.common-intro__content--same-gap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.common-intro__content > p {
  margin-top: 28px;
}

.common-intro__content .custom-btn {
  margin-top: 32px;
}

.common-intro__image {
  width: 100%;
  max-width: 520px;
}

.common-intro--no-margin p,
.common-intro--no-margin .common-lists,
.common-intro--no-margin .custom-btn {
  margin-top: 0;
}

.common-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.common-lists--dot {
  margin-left: 45px;
  gap: 0;
}

.common-lists li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.common-lists--dot li {
  display: list-item;
}

.common-lists img {
  width: 30px;
  height: auto;
  object-fit: contain;
  margin-top: 5px;
}

.common-lists--white p {
  color: var(--custom-white);
}

.common-lists--ticks-sm li {
  gap: 8px !important;
}

.common-lists--ticks-sm img {
  width: 20px;
}

.common-lists--dot,
.common-lists--dot li {
  list-style: disc !important;
}

/* Reusable CSS Code */

/* Header Area */
.header-area {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: var(--custom-white);
}

.nav {
  max-width: 1361px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.nav__logo {
  width: 217px;
  height: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__link {
  position: relative;
  font-size: 24px;
  line-height: 1;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--custom-green);
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.nav__link:hover::after,
.nav__link--active::after {
  width: 100%;
}

.nav .custom-btn {
  text-transform: capitalize;
}

.navbar__toggler {
  position: absolute;
  top: 25px;
  right: 0;
  width: 22px;
  height: 17px;
  display: none;
}

.toggle-bar {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  border-radius: 1.5px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  -ms-border-radius: 1.5px;
  -o-border-radius: 1.5px;
}

.toggle-bar:last-of-type {
  margin-bottom: 0;
}

.navbar__toggler.change .bar1 {
  margin-bottom: 0;
  transform: rotate(-40deg) translate(-3px, 3px);
  -webkit-transform: rotate(-40deg) translate(-3px, 3px);
  -moz-transform: rotate(-40deg) translate(-3px, 3px);
  -ms-transform: rotate(-40deg) translate(-3px, 3px);
  -o-transform: rotate(-40deg) translate(-3px, 3px);
}

.navbar__toggler.change .bar2 {
  margin-bottom: 0;
  opacity: 0;
}

.navbar__toggler.change .bar3 {
  margin-bottom: 0;
  transform: rotate(40deg) translate(-1px, -1px);
  -webkit-transform: rotate(40deg) translate(-1px, -1px);
  -moz-transform: rotate(40deg) translate(-1px, -1px);
  -ms-transform: rotate(40deg) translate(-1px, -1px);
  -o-transform: rotate(40deg) translate(-1px, -1px);
}

/* Header Area */

/* Hero Area */
.hero {
  background: var(--custom-green);
  padding-top: 40px;
  padding-bottom: 100px;
}

.hero__layout {
  max-width: 1266px;
  display: flex;
  align-items: center;
  gap: 51px;
}

.hero__content {
  flex: 1;
}

.hero__content h1 {
  color: var(--custom-white);
  padding-bottom: 32px;
  position: relative;
}

.hero__content h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 2px;
  background: var(--custom-green-300);
}

.hero__content h1 span {
  color: var(--custom-green-200);
}

.hero__content p {
  color: var(--custom-white);
  margin-top: 32px;
}

.hero__image {
  width: 100%;
  max-width: 555px;
}

/* Hero Area */

/* Support Area */
.support {
  padding: 80px 0;
}

.support__layout {
  max-width: 1285px;
}

.support h2 {
  text-align: center;
}

.support__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 32px;
}

.support__card {
  position: relative;
  background: var(--custom-green-300);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.support__card--green-light {
  background: var(--custom-green-300);
}

.support__card--green {
  background: var(--custom-green);
}

.support__card--gray {
  background: var(--custom-gray-200);
}

.support__card-content {
  padding: 35px 40px;
  padding-bottom: 20px;
}

.support__card-label {
  width: fit-content;
  background: var(--custom-white);
  padding: 5px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.support__card h3 {
  max-width: 340px;
  margin-top: 24px;
}

.support__card-content > p {
  margin-top: 24px;
}

.support__card h3 span {
  display: block;
}

.support__card-image,
.support__card-image img {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.support__card-image {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.support__card-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  pointer-events: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.support__card .custom-btn {
  position: absolute;
  bottom: 53px;
  left: 40px;
}

.support__card--green h3,
.support__card--green .support__card-content > p {
  color: var(--custom-white);
}

.support__card--gray .support__card-label {
  background: var(--custom-green);
}

.support__card--gray .support__card-label p {
  color: var(--custom-white);
}

/* Support Area */

/* Community Area */

.common-intro--community .common-intro__layout {
  max-width: 998px;
}

.common-intro--community .common-intro__image {
  max-width: 261px;
}

.common-intro--community .common-intro__image img {
  border-radius: 97px;
  -webkit-border-radius: 97px;
  -moz-border-radius: 97px;
  -ms-border-radius: 97px;
  -o-border-radius: 97px;
}

/* Community Area */

/* Impact Area */
.common-intro--impact {
  background: var(--custom-green);
  position: relative;
  overflow: hidden;
}

.common-intro--impact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(132, 196, 72, 0.63) 0%, #004c41 59%);
  pointer-events: none;
  z-index: 10;
  opacity: 0.5;
}

.common-intro--impact .common-intro__layout {
  max-width: 1185px;
  position: relative;
  z-index: 20;
}

.common-intro--impact .common-intro__content {
  max-width: 1156px;
  text-align: center;
}

.common-intro__content--white h2,
.common-intro__content--white p {
  color: var(--custom-white);
}

.common-intro--impact .common-intro__content p {
  margin-top: 20px;
}

.common-intro--impact .common-intro__content .custom-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.common-intro__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 40px;
}

.impact__image {
  width: fit-content;
  height: 367px;
  object-fit: contain;
}

.impact__image--1 {
  height: 326px;
  transform: rotate(-22deg);
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
}

.impact__image--2 {
  transform: rotate(-32deg);
  -webkit-transform: rotate(-32deg);
  -moz-transform: rotate(-32deg);
  -ms-transform: rotate(-32deg);
  -o-transform: rotate(-32deg);
}

.impact__image--3 {
  transform: rotate(-3.6deg);
  -webkit-transform: rotate(-3.6deg);
  -moz-transform: rotate(-3.6deg);
  -ms-transform: rotate(-3.6deg);
  -o-transform: rotate(-3.6deg);
}

/* Impact Area */

/* About Area */

.common-intro--about .common-intro__layout {
  max-width: 1200px;
}

.common-intro--about .common-intro__image {
  width: 552px;
  height: 482px;
  position: relative;
}

.common-intro--about .common-intro__image::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 100%;
  height: 100%;
  background: var(--custom-green-200);
  border-bottom-right-radius: 180px;
  z-index: 10;
}

.common-intro--about .common-intro__image img {
  border-bottom-right-radius: 180px;
  position: relative;
  z-index: 20;
}

/* About Area */

/* Testimonial Area */
.testimonial {
  padding: 40px 0;
  padding-bottom: 14px;
}

.testimonial__layout {
  max-width: 1297px;
}

.testimonial h2 {
  text-align: center;
}

.testimonial__slider-area {
  position: relative;
}

.swiper--testimonial {
  margin-top: 32px;
  padding-bottom: 40px;
}

.swiper--testimonial .swiper-slide {
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}

.testimonial__card {
  position: relative;
  background: var(--custom-green);
  padding: 20px;
  padding-top: 44px;
  padding-right: 27px;
  padding-bottom: 16px;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}

.testimonial__card::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--custom-green-200);
  z-index: -1;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}

.testimonial__card img {
  width: fit-content;
  height: 40px;
}

.testimonial__card-content p {
  color: var(--custom-white);
  font-size: 28px;
}

.testimonial__card-content h3 {
  color: var(--custom-white);
  font-size: 28px;
}

.testimonial__card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.testimonial__card-content h3 {
  margin-top: 12px;
}

.testimonial__slider-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 30;
}

.testimonial__slider-btn.swiper-button-disabled {
  opacity: 0.5;
}

.testimonial__slider-btn--next {
  left: auto;
  right: -50px;
}

.testimonial__slider-btn img {
  object-fit: contain;
}

/* Testimonial Area */

/* Footer Area */
.footer {
  padding-top: 32px;
  padding-bottom: 17px;
  background: var(--custom-green);
}

.footer__layout {
  max-width: 1229px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer__intro {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__logo {
  width: 91px;
  height: auto;
}

.footer__intro p {
  font-weight: 300;
  color: var(--custom-white);
  max-width: 364px;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__nav-link {
  color: var(--custom-white);
  font-size: 24px;
  line-height: 1;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__bottom {
  display: flex;
  align-items: center;
  gap: 27px;
  color: var(--custom-white);
  border-top: 2px solid var(--custom-green-200);
  padding-top: 16px;
  margin-top: 16px;
}

.footer__address {
  max-width: 278px;
  width: 100%;
}

.footer__content {
  flex: 1;
}

.footer__advisory {
  max-width: 218px;
  width: 100%;
}

.footer__address {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer__address img {
  width: 26px;
  height: auto;
  object-fit: contain;
}

.footer__address p {
  color: var(--custom-white);
  margin-bottom: 16px;
}

.footer__address p:last-of-type {
  margin-bottom: 0;
}

.footer__address p span {
  display: block;
}

.footer__content {
  border-left: 2px solid var(--custom-green-200);
  border-right: 2px solid var(--custom-green-200);
  padding: 0 27px;
}

.footer__content p {
  color: var(--custom-white);
  margin-bottom: 16px;
  font-weight: 300;
}

.footer__content p:last-of-type {
  margin-bottom: 0;
}

.footer__advisory a {
  color: var(--custom-white);
}

.footer__advisory a:hover {
  text-decoration: underline;
}

/* Footer Area */

/* Personal Loan page */

/* Personal Hero Area */
.common-hero {
  background: var(--custom-green-300);
  position: relative;
}

.common-hero__layout {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1230px;
  min-height: 475px;
}

.common-hero__content {
  width: 100%;
  max-width: 660px;
}

.common-hero__content h2,
.common-hero__content p {
  color: var(--custom-white-100);
}

.common-hero__content p {
  margin-top: 28px;
}

.common-hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 44%;
  height: 100%;
}

/* Personal Hero Area */

/* Personal Loan intro */

.common-intro--personal .common-intro__layout {
  max-width: 1125px;
}

.common-intro--personal .common-intro__image {
  max-width: 388px;
}

/* Personal Loan intro */

/* Personal Loan Form */
.loan-form {
  padding-top: 110px;
  padding-bottom: 156px;
  background: var(--custom-gray-200);
}

.loan-form__box {
  max-width: 884px;
  background: var(--custom-white);
  padding: 37px;
  padding-left: 67px;
  box-shadow: 31px 43px 0px 0px var(--custom-black-400);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.loan-form__box h2 {
  max-width: 502px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loan-form__main {
  margin-top: 32px;
}

/* Form Elements */

.loan-form__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loan-form__group-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.loan-form__radio-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loan-form__radio {
  display: flex;
  align-items: center;
}

.loan-form__radio-input {
  display: none;
}

.loan-form__radio-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loan-form__radio-icon {
  width: 25px;
  height: 25px;
  border: 2px solid var(--custom-green);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.loan-form__radio-input:checked
  + .loan-form__radio-content
  .loan-form__radio-icon {
  background: var(--custom-green);
}

.loan-form .custom-btn {
  margin-top: 50px;
}

/* Personal Loan Form */

/* CDFI Covers Area */
.common-intro--covers {
  padding: 120px 0;
  background: var(--custom-green-300);
  color: var(--custom-white);
  min-height: 804px;
  position: relative;
}

.common-intro--covers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(132, 196, 72, 0.63) 0%, #004c41 59%);
  pointer-events: none;
  z-index: 10;
  opacity: 0.5;
}

.common-intro--covers .common-intro__layout {
  max-width: 1216px;
  position: relative;
  z-index: 20;
}

/* CDFI Covers Area */

/* Assess Loan Area */

.common-intro--assess .common-intro__layout {
  max-width: 1210px;
}

.common-intro--assess .common-intro__image {
  max-width: 387px;
  height: auto;
}

.common-lists--ticks {
  gap: 8px;
}

.common-lists--ticks li {
  gap: 12px;
}

.common-lists--ticks p {
  color: var(--custom-green);
}

/* Assess Loan Area */

/* Discover Loan */
.discover-loan {
  padding-top: 80px;
  padding-bottom: 55px;
  background: var(--custom-gray-200);
}

.discover-loan h2 {
  text-align: center;
}

.discover-loan__slider-area .swiper-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}

.discover-loan-card {
  height: 395px;
  position: relative;
}

.discover-loan-card img {
  object-fit: cover;
}

.discover-loan-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 24px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 76, 65, 0.8) 62%
  );
  opacity: 1;
}

.discover-loan-card__content {
  color: var(--custom-white-100);
}

.discover-loan-card__content p {
  margin-top: 8px;
}

.discover-loan-card__content .custom-btn {
  margin-top: 16px;
  border: 1px solid var(--custom-white);
  display: none;
}

.discover-loan-card__content .custom-btn:hover {
  border: 1px solid var(--custom-white);
}

.swiper-slide-active .discover-loan-card__content .custom-btn {
  display: flex;
}

.swiper--loan .swiper-slide-active {
  box-shadow: 1px 34px 35px 0px rgba(0, 0, 0, 0.2);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 18px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  opacity: 1;
  width: 14px;
  height: 14px;
  background: var(--custom-green);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: var(--custom-green-300) !important;
}

/* Discover Loan */

/* Personal Loan page */

/* Business Loan page */

/* Business Hero Area */
.common-hero--green {
  background: var(--custom-green);
}
/* Business Hero Area */

/* Business Loan intro */
.common-intro--bussiness .common-intro__layout {
  max-width: 1200px;
}

.common-intro--bussiness .common-intro__image {
  max-width: 391px;
}

/* Business Loan intro */

/* Business Loan provides */

.common-intro--provides {
  background: var(--custom-green);
}

.common-intro--provides .common-intro__layout {
  max-width: 1200px;
  text-align: center;
}

/* Business Loan provides */

/* Business Loan Form */
.loan-form--business {
  padding-top: 80px;
  padding-bottom: 110px;
}

.loan-form__intro {
  max-width: 1200px;
  text-align: center;
  margin-bottom: 80px;
}

.loan-form__intro p {
  margin-top: 28px;
}

/* Business Loan Form */

/* Business Types Area */
.business-types {
  padding: 80px 0;
}

.business-types__layout {
  max-width: 1200px;
}

.business-types h2 {
  text-align: center;
  max-width: 944px;
}

.business-types__card-list {
  margin-top: 32px;
  display: flex;
  gap: 1px;
}

.business-types__card-left-top,
.business-types__card-left-bottom {
  display: flex;
}

.business-types__card {
  width: 306px;
  height: 265px;
}

.business-types__card--content {
  display: flex;

  padding: 14px 12px;
  padding-right: 21px;
  background: var(--custom-green);
  color: var(--custom-white);
}

.business-types__card--content-end {
  align-items: flex-end;
}

.business-types__card--cut-tr {
  border-top-right-radius: 150px;
}

.business-types__card--cut-bl {
  border-bottom-left-radius: 150px;
}

.business-types__card--cut-tl {
  border-top-left-radius: 150px;
}

.business-types__card--cut-br {
  border-bottom-right-radius: 150px;
}

.business-types__card h3 {
  max-width: 210px;
}

.business-types__card--long-img {
  width: 612px;
}

.business-types__card--content--long {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.business-types__card--content--long h4 {
  width: fit-content;
  margin-left: auto;
}

/* Business Types Area */

/* Business Lender Work */

.common-intro--work .common-intro__layout {
  max-width: 1259px;
}

.common-intro--work .common-intro__image {
  max-width: 522px;
}

/* Business Lender Work */

/* Business Loan page */

/* Enterprise Loan page */

/* Enterprise Hero Area */
.common-hero--gray {
  background: var(--custom-gray-200);
}

.common-hero--gray .common-hero__content h2,
.common-hero--gray .common-hero__content p {
  color: var(--custom-green-100);
}

/* Enterprise Hero Area */

/* Enterprise Loan intro */

.common-intro--enterprise .common-intro__layout {
  max-width: 1103px;
}

.common-intro--enterprise .common-intro__image {
  max-width: 365px;
}

.common-intro--enterprise .common-lists {
  margin-top: 40px;
  gap: 0;
}

.common-intro--enterprise .common-lists img {
  margin-top: 12px;
}

/* Enterprise Loan intro */

/* Enterprise Loan Form */

.loan-form--enterprise {
  padding-top: 80px;
  padding-bottom: 40px;
}

.loan-form--enterprise .loan-form__box {
  max-width: 1242px;
  box-shadow: 43px 18px 0px 0px var(--custom-black-400);
}

.loan-form--enterprise .loan-form__box h2 {
  max-width: 100%;
}

/* Enterprise Loan Form */

/* Enterprise Who Apply */

.common-intro--who {
  background: linear-gradient(to bottom, #f0f0f0 0%, #c1c1c1 100%);
}

.common-intro--who .common-intro__layout {
  max-width: 1216px;
}

.common-intro--who .common-lists {
  margin-top: 25px;
}

/* Enterprise Who Apply */

/* Enterprise Loan page */
